Hi!

<%= @name.capitalize %> just uploaded an album to streamzam! <%= @exclamation %>!

Listen to all <%= @num_tracks %> tracks of "<%= @title %>":

<%= @play_link %>

------------------------------

You are getting this email because you decided to follow <%= @name.capitalize %>. You can change your mind by clicking here: <%= @stop_following_link %>

You can also turn off all emails by unsubscribing here: <%= @unsubscribe_link %>.
