<% if params[:login] %>
    <%= render partial: 'users/user' %>

      <%= content_for :left do %>
        <h2>Comments on <%= @user.name %>'s stuff</h2>
        <div class="mini_paginator">
          <%= will_paginate @comments, param_name: :page%>
        </div>
        <%= render partial: 'shared/comment', collection: @comments %>
        <div class="mini_paginator">
          <%= will_paginate @comments, param_name: :page%>
        </div>
      <% end %>

      <%= content_for :right do %>
        <h2>Comments made by <%= @user.name %> </h2>
        <div class="mini_paginator">
          <%= will_paginate @comments_made, param_name: :made_page%>
        </div>
        <%= render partial: 'shared/comment', collection: @comments_made %>
        <div class="mini_paginator">
          <%= will_paginate @comments_made, param_name: :made_page%>
        </div>
     <% end %>

<% else %>
    <%= content_for :left do %>
    <h1>Recent Comments</h1>
      <div class="mini_paginator">
        <%= will_paginate @comments, param_name: :page%>
      </div>
        <%= render partial: 'shared/comment', collection: @comments %>
        <div class="mini_paginator">
          <%= will_paginate @comments, param_name: :page%>
        </div>
    <% end %>

    <% if moderator? or admin? %>
    <%= content_for :right do %>
        <h1>Recent SPAM</h1>
        <div class="mini_paginator">
          <%= will_paginate @spam, param_name: :spam_page%>
        </div>
        <%= render partial: 'shared/comment', collection: @spam %>
        <div class="mini_paginator">
          <%= will_paginate @spam, param_name: :spam_page%>
        </div>
        <% end %>
    <% end %>

<% end %>