/* line 1, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 19, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
:focus {
  outline: 0;
}

/* line 22, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
body {
  line-height: 1;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  background-color: #1e1918;
  background: url(/assets/24hour/background-right-5f21a0d9aab9ebc28b0f3ea4ca9961b6a46dee550f9ed676f2928ca5fc1334fb.jpg) repeat-x top left;
  color: #e9e2d3;
}

/* line 30, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
a, a:hover, a:visited {
  color: #e9e2d3;
  text-decoration: none;
}

/* line 36, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
#wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #1e1918;
}

/* line 43, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
#content {
  width: 100%;
  background: #1e1918 url(/assets/24hour/24-hour-album-background-95192385f7f5f37854b300516fc616e41337da70c2b11a7acc2290e744f1f20d.jpg) no-repeat center top;
  float: left;
  text-align: center;
  margin: auto;
}

/* line 50, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
a#back-to-alonetone {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

/* line 57, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
#albums {
  width: 1011px;
  position: relative;
  margin: auto;
  margin-top: 210px;
}

/* line 63, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
div.columns {
  width: 1011px;
  position: relative;
  float: none;
  text-align: left;
  clear: both;
  margin-bottom: 25px;
  margin-left: 25px;
}

/* line 72, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
.columns.text {
  width: 600px;
  line-height: 20px;
}

/* line 76, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
.columns.text a {
  text-decoration: underline;
}

/* line 79, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
div.album {
  width: 445px;
  height: 50px;
  margin-right: 25px;
  margin-bottom: 21px;
  text-align: left;
  background: url(/assets/24hour/album-background-large-over-1d782be1882b23aa825fd2ae560ed040b79d73d1cfaa1a763b440b3bfbeb49ee.png) no-repeat right top;
  float: left;
  position: relative;
}

/* line 89, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
a.pic {
  width: 50px;
  height: 50px;
  float: left;
  display: block;
  margin-right: 10px;
}

/* line 96, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
div.date {
  margin-bottom: 27px;
  height: 27px;
  clear: both;
}

/* line 102, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
div#dec6 {
  background: url(/assets/24hour/december6th-7b9d8d6ee266d5f8819b9bb5f8e3aaaf4910eb97cbd8e4fdcf3ecc13f0fad225.png) no-repeat;
}

/* line 105, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
div#dec13 {
  background: url(/assets/24hour/december13th-289086de563f8938ef997630faafc8851234208af278c3cf10fe73894b5901df.png) no-repeat;
}

/* line 108, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
div#betterlate {
  background: url(/assets/24hour/betterlatethannever-274ced938997c983e0dde0ddb6521ec87b0080ea5b0352df7a4323e42811018c.png) no-repeat;
}

/* line 111, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
.album-photo {
  height: 50px;
  width: 50px;
}

/* line 115, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
a.album_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-top: 4px;
  display: block;
}

/* line 122, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
a.artist_name {
  font-size: 12px;
  line-height: 10px;
  display: block;
}

/* line 129, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
#footer {
  height: 100px;
}

/* line 133, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0pt;
  line-height: 0pt;
  visibility: hidden;
}

/* line 141, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
.clearfix {
  display: inline-block;
}

/* line 144, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 147, C:/Sites/streamzam/app/assets/stylesheets/24houralbum.scss */
* html .clearfix {
  height: 1%;
}
