/* reset */
/* line 3, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100.01%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 16, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 20, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
ol, li {
  list-style: none;
}

/* line 23, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.clear {
  display: block;
  clear: both;
  content: " ";
}

/* line 28, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
input {
  margin: 5px 0px;
}

/* line 31, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div.submit_wrapper {
  text-align: right;
}

/* line 34, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div.join_wrapper input {
  color: #37392b;
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  height: 25px;
}

/* line 41, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
strong {
  font-weight: bold;
}

/* line 44, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
em {
  font-style: italic;
}

/*Main structure*/
/* line 48, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
body {
  font-family: Georgia;
  font-size: 10px;
  position: relative;
  margin: auto;
  background: #e4e4d9 url(/assets/blog/back-f73a3a28482af45a2b00c56dcd39ecefead175497a0efcadc2945159cbcc140a.png) no-repeat center 30px;
}

/* line 55, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
html {
  width: 990px;
  position: relative;
  margin: auto;
  background: transparent;
}

/* line 61, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div#wrapper {
  position: relative;
  margin: auto;
  width: 980px;
  min-height: 600px;
  float: left;
}

/*start left/main side container*/
/* line 69, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div#wp1 {
  /*left side*/
  position: relative;
  margin: auto;
  float: left;
  width: 660px;
  min-height: 400px;
  background: transparent;
}

/* line 77, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post {
  /*left side post container*/
  position: relative;
  margin: auto;
  float: left;
  width: 660px;
  min-height: 300px;
  margin-bottom: 30px;
  background: transparent;
}

/* line 86, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-title {
  /*left side post container*/
  position: relative;
  margin: auto;
  float: none;
  width: 660px;
  height: 20px;
  background: #f2f2ed;
  padding: 0 0 10px 0;
  -moz-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
}

/* line 97, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-title-left {
  /*left side post container*/
  position: relative;
  margin: auto;
  float: left;
  width: 150px;
  line-height: 29px;
  height: 20px;
  text-align: left;
  background: transparent;
  padding-left: 10px;
}

/* line 108, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-title-right {
  /*left side post container*/
  position: relative;
  margin: auto;
  float: left;
  width: 150px;
  line-height: 29px;
  height: 20px;
  text-align: right;
  padding-right: 10px;
  background: transparent;
}

/* line 119, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-title-mid {
  /*left side post container*/
  position: relative;
  margin: auto;
  float: left;
  width: 320px;
  height: 20px;
  line-height: 29px;
  text-align: center;
  background: transparent;
}

/* line 129, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-body {
  position: relative;
  margin: 0;
  float: left;
  width: 660px;
  min-height: 300px;
  background: #f9f9f6;
  -moz-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
}

/* line 139, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-bot {
  position: relative;
  margin: auto;
  float: left;
  width: 660px;
  min-height: 30px;
  background: transparent;
}

/* line 147, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-bot-left {
  /*left side post container*/
  position: relative;
  margin: auto;
  float: left;
  width: 130px;
  min-height: 30px;
}

/* line 154, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-bot-left.with_arrow {
  background: transparent url(/assets/blog/arro-1f5c7a7bf9ae31632b80f55bcdc3f14e9bc09edb428063b74b1ef9fed916fba5.png) top center no-repeat;
}

/* line 157, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-bot-mid {
  /*left side post container*/
  position: relative;
  margin: auto;
  float: left;
  width: 400px;
  height: 30px;
  background: transparent;
}

/* line 165, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-bot-right {
  /*left side post container*/
  position: relative;
  margin: auto;
  float: left;
  top: -2px;
  width: 130px;
  height: 30px;
  background: transparent url(/assets/blog/com-but-7d0f1a34dd83a230a3d9cdc07f10027e8b2bbe7370db1f32ce55164f589c14e5.png) 32px 0px no-repeat;
}

/* line 174, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-bot-right a {
  display: block;
  width: 130px;
  height: 30px;
}

/*end post*/
/*strat comment*/
/* line 181, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment-all {
  /*left side post container*/
  position: relative;
  margin: 0 0 30px 0;
  float: left;
  width: 595px;
  padding-left: 65px;
  background: transparent;
}

/* line 189, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment {
  /*left side post container*/
  position: relative;
  margin: auto;
  float: left;
  width: 595px;
  border-bottom: 1px solid #e5e5db;
  background: transparent;
  -moz-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
}

/* line 199, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment-title {
  position: relative;
  margin: auto;
  float: none;
  width: 549px;
  padding: 5px 23px 5px 23px;
  background: #f2f2ed;
}

/* line 207, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment-body {
  position: relative;
  margin: 0;
  /*0 1px 0; | 1px space bet. comments*/
  float: none;
  width: 549px;
  min-height: 60px;
  padding: 13px 23px 13px 23px;
  background: #f2f2ed;
}

/* line 216, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment-body p {
  padding-bottom: 14px;
}

/*end comment*/
/*end left/main side container*/
/*start right side container*/
/* line 222, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div#wp2 {
  /*right side*/
  float: right;
  position: relative;
  margin: auto;
  width: 320px;
  min-height: 400px;
  background: transparent;
}

/* line 230, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.wp2-title {
  /*right side container title*/
  float: none;
  position: relative;
  margin: 0 8px 0px 10px;
  width: 300px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #F2F2ED;
  border-bottom: 1px solid #F2F2ED;
  background: #f2f2ed;
  -moz-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
}

/* line 243, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.wp2-title-o {
  /*right side container title orange*/
  float: none;
  position: relative;
  text-align: center;
  margin: 0 20px 0px 10px;
  width: 300px;
  padding: 1px 0 1px 0;
  background: #fa934d;
  -moz-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
}

/* line 254, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.wp2-mid {
  /*right side container txt*/
  float: none;
  position: relative;
  margin: 0px 10px 0px 10px;
  width: 260px;
  /*40 px les, because of the padding -> 20px*/
  border-top: 1px solid #E5E5DB;
  border-bottom: 1px solid #E5E5DB;
  padding: 10px 20px 15px 20px;
  background: #f9f9f6;
  -moz-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(87, 78, 62, 0.1);
}

/*tweeter start*/
/* line 267, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div#tweets {
  /*right side container txt tweeter*/
  float: none;
  position: relative;
  padding: 0;
  margin: 0;
  background: transparent;
  list-style-type: none;
}

/* line 275, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
p.ptweet {
  background: transparent;
  list-style-type: none;
  font-size: 12px;
  margin-bottom: 6px;
}

/* line 281, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
a.atweet {
  display: block;
  font-size: 12px;
  color: #a59493;
}

/* line 286, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
#tweets ul {
  margin: 0;
  padding: 0;
}

/* line 290, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
#tweets ul li {
  list-style-type: none;
  /*keine bullets -> omg that sucked*/
  outline: none;
  margin: 0;
  padding: 0;
  margin: auto;
}

/*tweeter end*/
/*end right side container*/
/*mein end*/
/*header start*/
/* line 301, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div#header {
  /*header: logo, link to alonetone, title, */
  position: relative;
  margin: auto;
  width: 980px;
  min-height: 90px;
}

/* line 307, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div#hd1 {
  /*header left side*/
  position: relative;
  float: left;
  margin: auto;
  width: 660px;
  min-height: 90px;
  background: transparent;
}

/* line 315, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div#hd1-top {
  /*header left side link to alonetone*/
  position: relative;
  margin: auto;
  width: 660px;
  margin-left: -15px;
  min-height: 25px;
  line-height: 25px;
  background: transparent;
}

/* line 324, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div#hd1-bot {
  /*header left side*/
  position: relative;
  margin: auto;
  width: 660px;
  min-height: 65px;
  background: transparent url(/assets/blog/title-ce868bc214a21e1cf8ad3dfd1ac54ac091f450cafc02a74b7058d736829c15ac.png) center no-repeat;
}

/* line 331, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div#hd2 {
  /*header right side*/
  position: relative;
  margin: auto;
  float: right;
  width: 320px;
  min-height: 90px;
  background: transparent url(/assets/blog/logo-751ae949bc286c030093139fbcb72f42133411fc220589155a1603d0fa6ffa02.png) center top no-repeat;
}

/* line 339, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
#hd2 a {
  display: block;
  width: 300px;
  height: 90px;
}

/*bottom start*/
/* line 345, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div#bottom {
  position: relative;
  margin: 30px 0 0 0;
  float: none;
  width: 970px;
  min-height: 250px;
  background: #574e3e;
  float: left;
}

/* line 354, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.bottom-left {
  position: relative;
  padding-top: 30px;
  margin: auto;
  width: 325px;
  min-height: 220px;
  border-right: 1px solid #6c614d;
  background: transparent url(/assets/blog/latestup-0caf79403dc0cfb24766f6ad3fb66b3e3aece9b87243e0292a7c9c785b256d0d.png) 10px 10px no-repeat;
  float: left;
}

/* line 364, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.bottom-mid {
  position: relative;
  padding-top: 30px;
  margin: auto;
  width: 320px;
  min-height: 220px;
  border-right: 1px solid #6c614d;
  background: transparent url(/assets/blog/latestco-35438b46b4fb2deb7cd8dd2ff68d6b460a1bf747e3c2716e1558ee4e17b924a5.png) 8px 10px no-repeat;
  float: left;
}

/* line 374, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.bottom-right {
  position: relative;
  padding-top: 30px;
  margin: auto;
  width: 321px;
  min-height: 220px;
  background: transparent url(/assets/blog/cukickass-e48f1eaf71223961eb7a3b87125192ccb586b75de6454239530b4f47b914ebf4.png) 9px 9px no-repeat;
  float: left;
}

/*bottom end*/
/*text styles start*/
/* line 385, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
h1.h1post {
  color: #f8ab75;
  padding: 0px;
  margin: 0px;
  margin: 20px 0 0 0;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

/* line 396, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
h2.h2post {
  padding: 0;
  margin: 0;
  color: #a29f95;
  margin: 0 0 25px 0;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

/* line 406, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
h1.post-entry {
  color: #f8ab75;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 11px;
  font-weight: bold;
}

/* line 412, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
h1.right-orange {
  color: #f98845;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

/* line 420, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
h1.right-white {
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

/* line 429, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
h1.h1-comment {
  margin: 0;
  padding: 0;
  color: #928987;
  font-size: 14px;
  font-weight: bolder;
  text-align: left;
  font-style: normal;
}

/* line 438, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
h2.h2-comment {
  margin: 0;
  padding: 0;
  color: #928987;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  font-style: normal;
}

/* line 447, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
h1.h1bottom {
  color: #fff;
  margin: 0;
  margin-left: 10px;
  margin-top: 15px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: bolder;
  text-align: left;
  font-style: normal;
}

/* line 458, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-body p {
  color: #000;
  margin: 10px 64px 16px 64px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-align: justify;
  font-style: normal;
}

/* line 468, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-body blockquote {
  -moz-box-shadow: 0px 2px 6px rgba(87, 78, 62, 0.3);
  -webkit-box-shadow: 0px 2px 6px rgba(87, 78, 62, 0.3);
  margin: 0px 40px 25px 80px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #EEE;
}

/* line 476, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-body blockquote p {
  margin: 5px 20px;
}

/* line 480, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.post-body p img {
  max-width: 500px;
  margin: auto;
  text-align: center;
  display: block;
  -moz-box-shadow: 0px 2px 6px rgba(87, 78, 62, 0.5);
  -webkit-box-shadow: 0px 2px 6px rgba(87, 78, 62, 0.5);
}

/* line 488, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment-body p {
  color: #000;
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  font-style: normal;
  overflow: hidden;
}

/* line 497, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
p.pbottom {
  color: #fff;
  margin: 0px 0 5px 10px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  font-style: normal;
}

/* line 507, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
p.right-black {
  color: #000;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-weight: normal;
  text-align: left;
  font-style: normal;
}

/*text styles end*/
/*links styles start*/
/* line 518, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
a {
  color: #d55232;
  display: inline;
  text-decoration: none;
}

/* line 523, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
a:hover {
  text-decoration: underline;
}

/* line 526, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
a.right-red {
  color: #d55232;
  display: block;
  text-decoration: none;
  font-size: 11px;
  margin: 0px 0 5px 0;
  padding: 0px;
  font-weight: normal;
  text-align: left;
  font-style: normal;
}

/* line 537, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
a.right-red:hover {
  text-decoration: underline;
}

/* line 540, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
a.prev-next {
  display: block;
  text-decoration: none;
  margin: 0px;
  font-size: 12px;
  color: #a9a9a9;
}

/* line 547, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
a.prev-next:visited {
  display: block;
  padding-top: 8px;
  text-decoration: none;
  margin: 0px;
  font-size: 12px;
  color: #a9a9a9;
}

/* line 555, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
a.prev-next:hover {
  display: block;
  text-decoration: none;
  margin: 0px;
  font-size: 12px;
  color: #000;
}

/*links styles end*/
/*ul li post styles start*/
/* line 564, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment-body ul,
.post-body ul {
  color: #d55232;
  margin: 0px 0 20px 0;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 14px;
  line-height: 15px;
  font-weight: normal;
  text-align: justify;
  font-style: normal;
}

/* line 575, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment-body li,
.post-body li {
  color: #000;
  margin: 0px 0 5px 84px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 14px;
  line-height: 15px;
  font-weight: normal;
  text-align: justify;
  font-style: normal;
  list-style-position: inside;
  list-style-image: url(/assets/blog/bullet-502d85fa2f8e0186508420c8154efad874352f632ef6ba27b14606b2adb319ff.png);
  /*bullet img, I could do it with span styles if you would like?*/
}

/* line 588, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment-body ul {
  margin-top: 15px;
}

/* line 591, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment-body li {
  margin-left: 20px;
}

/* line 595, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment_user {
  float: left;
  position: relative;
  z-index: 100;
  height: 100%;
}
/* line 600, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment_user img {
  display: block;
  width: 50px;
  padding: 15px;
}
/* line 605, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment_user a {
  display: block;
  width: 50px;
  padding: 15px;
}
/* line 609, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment_user a img {
  padding: 0;
}

/* line 615, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment_new {
  clear: both;
  background-color: #9d9990;
  padding: 15px 50px;
  position: relative;
}

/* line 621, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment_new .comment_as {
  position: relative;
  font-size: 14px;
  height: 25px;
  margin-bottom: 10px;
  font-style: italic;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
  line-height: 10px;
}

/* line 631, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment_as img {
  padding-right: 5px;
}

/* line 634, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment_new textarea {
  width: 530px;
  height: 160px;
}

/* line 639, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.comment_waiting {
  position: absolute;
  text-align: center;
  bottom: 10px;
  left: 50px;
  font-weight: bold;
  font-size: 14px;
}

/* line 648, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div.ajax_success, div.ajax_fail {
  background: transparent url(/assets/icons/ok-f9a5c1656e2002c7aa020a5708324d0971751b4a24ab7460a9150e60a613ef02.png) no-repeat top left;
  text-indent: 35px;
  height: 30px;
  line-height: 30px;
}

/* line 654, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
div.ajax_fail {
  background: transparent url(/assets/icons/not_ok-3ff096fb77e09b7b77972583f24958c4fa2c548bff01f28d39253efd74fa33fd.png) no-repeat top left;
}

/* line 658, C:/Sites/streamzam/app/assets/stylesheets/blog.scss */
.pagination {
  float: right;
  font-size: 16px;
}
