/* line 1, C:/Sites/streamzam/app/assets/stylesheets/ipad.scss */
body {
  -webkit-tap-highlight-color: transparent;
}

/* line 5, C:/Sites/streamzam/app/assets/stylesheets/ipad.scss */
a * {
  pointer-events: none;
}

/* line 9, C:/Sites/streamzam/app/assets/stylesheets/ipad.scss */
#nav {
  left: 25px;
}

/* line 13, C:/Sites/streamzam/app/assets/stylesheets/ipad.scss */
#content {
  margin-left: 25px;
}

/* line 17, C:/Sites/streamzam/app/assets/stylesheets/ipad.scss */
#top_bar #top_bar_left {
  left: 27px;
}
