/* line 1, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 19, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
:focus {
  outline: 0;
}

/* line 22, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
body {
  line-height: 1;
  font-family: Helvetica, Arial, Geneva, sans-serif;
}

/* line 27, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
a {
  text-decoration: none;
}

/* line 30, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
a:hover, a:visited {
  text-decoration: underline;
}

/* typekit */
/* line 35, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
h2 {
  font-family: "ronnia-1","ronnia-2",sans-serif;
  font-weight: 300;
  color: #c2c2c1;
  font-size: 24px;
  line-height: 30px;
  /* color, x, y, blur */
  text-shadow: rgba(0, 0, 0, 0.75) 0px 2px 3px;
  padding-left: 43px;
  margin-bottom: 20px;
  text-align: left;
}

/* line 47, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
h3 {
  font-family: "ronnia-1","ronnia-2",sans-serif;
  font-weight: 400;
  color: #e0e0e0;
  line-height: 22px;
  font-size: 14px;
  text-shadow: rgba(0, 0, 0, 0.85) 0px 2px 3px;
  text-align: left;
  margin-left: 425px;
  margin-top: 150px;
}

/* line 58, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
h3 a {
  color: #ececec;
  text-decoration: underline;
}

/* line 63, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
#wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  background: #261f1e url(/assets/rpm/header_background-2bcba4e506acd1a6e359a4c1fbd3e2f3eb9006083a8ce079f672beeb9b419b56.jpg) repeat-x top center;
  margin: auto;
}

/* line 71, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
#header {
  width: 1200px;
  background: #261f1e url(/assets/rpm/header-6847576d8d791544b2a8379fecd406b993d5dd0c140f1a2612323d761a9f78a3.jpg) no-repeat top center;
  height: 442px;
  text-align: center;
  margin: auto;
}

/* line 79, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
#content {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 600px;
  min-width: 1200px;
  background: #1e1918 url(/assets/rpm/background-5de28a826d8bb6bb60dc92cf1f0d236fe1dcb1fa20fb0e7042b659c32d210b05.png) repeat-x top center;
  margin: auto;
  clear: both;
}

/* line 90, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
a#back-to-alonetone {
  height: 200px;
  width: 1200px;
  display: block;
  margin: 0 auto;
}

/* line 97, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
div#albums {
  position: relative;
  width: 1187px;
  margin: auto;
  padding-top: 25px;
  padding-left: 13px;
  min-height: 500px;
  background: transparent url(/assets/rpm/background-lines-085a621cec7a66d12146050cd0d496e2bc9b5bb4cd784c65c8fa5226e111c39a.jpg) repeat-y 393px 0;
}

/* line 106, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
div.album {
  position: relative;
  float: left;
  margin-left: 39px;
  width: 160px;
  height: 250px;
  overflow: hidden;
  clear: none;
}

/* line 115, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
div.album .cover {
  position: relative;
  margin-bottom: 10px;
}

/* line 119, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
a.overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  opacity: 1.0;
  background-color: transparent;
  width: 160px;
  height: 160px;
  background-image: url(/assets/rpm/overlay-351f9317d42e5c6bce7d2ce9beefc1a520fd235cf030cbd91de929fe4b70d5b9.png);
}

/* line 130, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
img.cover {
  width: 150px;
  height: 150px;
  margin-left: 1px;
  margin-top: 3px;
}

/* line 136, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
a.alonetoner {
  font-size: 13px;
  color: #fb8a03;
}

/* line 141, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
a.album_title {
  width: 160px;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  line-height: 16px;
}

/* line 148, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0pt;
  line-height: 0pt;
  visibility: hidden;
}

/* line 156, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
.clearfix {
  display: inline-block;
}

/* line 159, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 162, C:/Sites/streamzam/app/assets/stylesheets/rpm_challenge.scss */
* html .clearfix {
  height: 1%;
}
