<%= error_messages_for :user %>

<%= render partial: 'users/user' unless white_theme_enabled? %>

<%= content_for :left do %>
  <div class="box edit-your-profile-box">
  <h2 class="box">Edit your profile</h2>
  <%= form_for @user, html: { method: :put }, namespace: 'bio' do |f| -%>
	<div class="static_content">
  <p>
    <label for="display_name">The name you want displayed on streamzam</label><br/>
    <%= f.text_field :display_name %>
  </p>

  <p>
    <label for="user_bio">Tell us about yourself</label><br/>
    <%= f.text_area :bio, class: 'double_trouble', cols: 50, rows: 15 %>
  </p>

  <p>
    <label for="user_bio">What city or town do you live in?</label><br/>
    <%= f.text_field :city %>
  </p>

  <p>
    <label for="user_bio">What country?</label><br />
    <%= f.country_select(:country, ['Zambia'], include_blank: true) %>
  </p>

  <p>
    <label for="user_website">Have a website?</label><br/>
    https://<%= f.text_field :website %>
  </p>

  <p>
    <label for "user_twitter">On twitter?</label><br/>
    http://twitter.com/<%= f.text_field :twitter%>
  </p>
  </div>

  <div class="static_content">
    <%= f.submit "Update Your Profile" %>
  </div>
	<% end -%>
</div>


<div class="box your-account-box">
  <h2 class="box">Your Account</h2>
	<div class="static_content">
  	<%= form_for @user, html: { method: :put }, namespace: 'password' do |f| -%>
    <%= link_to("Change your login and alonetone address", '#edit_login', class: 'slide_open_href') %> <br/><br/>
    <%= link_to("Change your password",'#edit_password', class: 'slide_open_href') %><br/><br/>
    <%= link_to("Delete your account",'#destroy_account', class: 'slide_open_href') %>
  </div>

  <div class="static_content">
  <div id="edit_password" class="static_content" style="display:none">
		Enter your desired new password twice, please:<br/>
		<%= f.password_field :password %><br/>
		<%= f.password_field :password_confirmation %><br/>
		<%= submit_tag "Change Your Password" %>

  </div>

  <div id="edit_login" class="static_content" style="display:none">
		<b>Change your login</b> <br/>
		WARNING: Changing this will break any mp3 players
		you or anyone else has put on the web, as well as any links anyone has passed around
		to your music, as well as confuse google about where your music is for a few weeks.<br/><br/>

		Basically, don't do this unless you have to, it will be hard for others to find your music.<br/>
		alonetone.com/<%= f.text_field :login %><br/>

		<%= submit_tag "Change Your login and account name" %>
  </div>

  <div id="destroy_account" class="static_content" style="display:none;">
    <b>WARNING</b><br/>
    This will completely remove ALL tracks, comments, listens, posts on streamzam <br/><br/>
    <b>There is NO going back!</b>, so make sure you are certain before clicking the button below:<br/><br/>

    <%= link_to "Delete", user_path(login: @user.login), method: :delete,
    confirm: 'Are you absolutely sure? This will delete your account and tracks permanently, including all play history and comments.',
    class: 'delete_green'%>
    <br/><br/>
  </div>

  <% end %>
  </div>
  </div>



<% end %>

<%= content_for :right do %>
  <div class="box change-your-picture-box">
  <h2 class="box">Change your picture</h2>
  <div class="static_content">
      <p><%= image_tag @user.avatar(:album)%></p>
      Upload a new photo. (As an artist upload a good pic for display on streamzam top artists!)<br/>
      <%= form_for :pic, url: attach_pic_user_path(@user), html: {multipart: true, method: :post} do |f| %>
      	<%= f.file_field :pic  %>
      	<%= submit_tag "Upload new Pic" %>
      <% end %><br/>
  </div>
  </div>

  <div class="box settings-box">
  <h2 class="box">Settings</h2>
  <div class="static_content">
  <%= form_for @user, html: { method: :put }, namespace: 'settings' do |f| -%>
    <label>Display play counts blatantly on all tracks?</label> <br/>
    <%= select_tag('user[settings][display_listen_count]',
        options_for_select([['no thanks','false'], ['yes','true']],
        user_setting(:display_listen_count))) %>
  </div>

  <div class="static_content">
    <label>Accept comments from guests?</label><br/>
    <%= select_tag('user[settings][block_guest_comments]',
        options_for_select([['yes, anyone can comment','false'], ['No, only registered users','true']],
         user_setting(:block_guest_comments))) %>
  </div>


  <div class="static_content">
    <label>Display most popular tracks on your home page?</label><br/>
    <%= select_tag('user[settings][most_popular]',
        options_for_select([['nope, stick with just the latest','false'], ['Yes!','true']],
         user_setting(:most_popular))) %>
  </div>

  <div class="static_content">
    <label>Love streamzam?</label><br/>
    <%= select_tag('user[settings][increase_ego]',
        options_for_select([['uhm, no thanks','false'], ['hell yes!','true']],
        user_setting(:increase_ego))) %>

  </div>

  <div class="static_content">
    <label>Should we email you new comments on your tracks?</label><br/>
    <%= select_tag('user[settings][email_comments]',
        options_for_select([['of course!','true'], ['I do not like email','false']],
        user_setting(:email_comments))) %>

  </div>

  <div class="static_content">
    <label>Email notifications when others you follow upload tracks?</label><br/>
    <%= select_tag('user[settings][email_new_tracks]',
        options_for_select([['please! it helps me keep track of the artists i love','true'], ['No!','false']],
        user_setting(:email_new_tracks))) %>
  </div>

  <div class="static_content">
    <%= submit_tag "Save your settings" %>
  </div>
</div>
  <% end %>
<% end %>
