
<div id="user_home">
  <div id="user_header_area">
    <div id="user_header">
      <div class="user_name_and_location">
        <h1 class="user_name"><%= @user.name %></h1>
      </div>
      <% if logged_in? && current_user != @user %>
        <%= link_to toggle_follow_path(login: @user.login), remote: true, class: 'follow',
        data: {controller: 'follow', action: 'follow#toggle', :'follow-following' => current_user.is_following?(@user).present? } do %>
          <svg id="faveSVG" class="faveSVG" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
            <path class="outline" d="M299.64,180.06C254.2,95.52,123.26,90.77,87.58,197,42.14,332.24,189.85,374.17,299.64,484.42,409.43,374.17,557.14,332.24,511.7,197,476,90.77,345.08,95.52,299.64,180.06Z" fill="none" stroke="#b4b4b4" stroke-miterlimit="10" stroke-width="35" />
            <circle class="purplePop" cx="490" cy="410" r="123" fill="none" stroke="#CC3CF6" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
            <circle class="greenPop" cx="206" cy="483" r="123" fill="none" stroke="#3BF686" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
            <circle class="bluePop" cx="340" cy="120" r="123" fill="none" stroke="#3D45F6" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
            <circle class="yellowPop" cx="112" cy="336" r="123" fill="none" stroke="#F6CD3F" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
            <circle class="redPop" cx="128" cy="124" r="123" fill="none" stroke="#F6463E" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
            <circle class="redPop2" cx="485" cy="130" r="123" fill="none" stroke="#F6463E" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
            <circle class="redPop3" cx="480" cy="436" r="123" fill="none" stroke="#F6463E" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
            <path class="heart" d="M299.64,180.06C254.2,95.52,123.26,90.77,87.58,197,42.14,332.24,189.85,374.17,299.64,484.42,409.43,374.17,557.14,332.24,511.7,197,476,90.77,345.08,95.52,299.64,180.06Z" fill="#f6463e" stroke="#f6463e" stroke-miterlimit="10" stroke-width="21" />
          </svg>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @user.has_public_playlists? %>
  <div id="user_playlists_area">
    <div class="user_playlists">
      <ul class="playlists">
        <%= render partial: 'shared/playlist_white', collection: @playlists, as: :playlist %>
      </ul>
    </div>
  </div>
  <% end %>


  <div id="user_left_column">
    <div id="user_latest_area">
      <% if @assets.size > 0 %>
      <div id="user_latest" class="box">
        <%= link_to user_tracks_path(@user), class: 'view_all', title: "uploaded mp3s by #{@user.name}"  do %>
        <span>view all &nbsp;
          <i class="icon_caret">
            <%= render file: svg_path('svg/icon_caret.svg') %>
          </i>
        </span>

        <% end if @user.assets_count > 5 %>
        <h2>Latest music</h2>
        <%= render partial: 'assets/asset', collection: @assets %>
      </div>
      <% end %>
    </div>

    <div id="user_listens_area">
      <% unless @listens.empty? %>
      <div class="box">
        <%= link_to listens_path(@user.login), class: 'view_all' do %>
          <span>view all &nbsp;
            <i class="icon_caret">
              <%= render file: svg_path('svg/icon_caret.svg') %>
            </i>
          </span>

        <% end if @listens.size > 4 %>
        <h2>Recently listened to</h2>
        <%= render partial: 'assets/asset', collection: @listens, as: :asset %>
      </div>
      <% end %>
    </div>

    <div id="user_plays_area">
      <% if authorized? && @user.listens_count > 0 %>
      <% cache([@track_plays, theme_name]) do %>
      <div id="user_track_plays" class="box">
        <%= link_to listens_path(@user.login), class: 'view_all' do %>
          <span>view all &nbsp;
            <i class="icon_caret">
              <%= render file: svg_path('svg/icon_caret.svg') %>
            </i>
          </span>

        <% end if @track_plays.size > 4 %>
        <h2>Latest listens to your music</h2>
        <div class="static_content">
          <strong><%= @user.track_plays.today %></strong> new plays &amp; downloads today <br/>
          <%= @user.listens_count %> total plays and downloads (<strong><%= @user.listens_average %></strong> per/day)
        </div>
        <%= render partial: 'users/track_play', collection: @track_plays %>
      </div>
      <% end%>
      <% end %>
    </div>

  </div>

  <div id="user_right_column">

    <% if @favorites.present? %>
    <div id="user_favorites_area">
      <div class="box">
        <%= link_to user_playlist_path(@user, @user.favorites), class: "view_all" do %>
          <span>view all &nbsp;
            <i class="icon_caret">
              <%= render file: svg_path('svg/icon_caret.svg') %>
            </i>
          </span>

        <% end if @user.favorites.tracks.size > 5 %>
        <h2>Recent favorites</h2>
        <%= render partial: 'assets/asset', collection: @favorites, as: :asset %>
      </div>
    </div>
    <% end %>

    <% if @popular_tracks.present? && @user.has_setting?('most_popular', 'true') %>
    <div id="user_popular_area">
      <div id="user_popular" class="box">
        <%= link_to " ", user_tracks_path(@user),
        class: 'view_more_tracks', title: "uploaded mp3s by #{@user.name}" if @user.assets_count > 5%>
        <h2>Most Listened To Tracks</h2>
        <%= render partial: 'assets/asset', collection: @popular_tracks %>
      </div>
    </div>
    <% end %>

    <div id="user_comments_area">
      <%= render partial: 'shared/comments' if @comments.present? %>
    </div>
  </div>

  <div id="user_card_area">
    <div class="user_card_avatar">
      <%= image_tag(avatar_or_placeholder_for(@user, :original)) %>
    </div>
    <div class="user_card_content">
      <div class="user_card_bio">
       <% if @user.try(:bio) %>
       <%= markdown(@user.bio) %>
       <% else %>
       <%= @user.name %> didn't say anything yet...
       <% end %>
     </div>
     <hr>
     <div class="user_card_links">
      <p>
       <%= website_for_simple(@user).html_safe if @user.website.present? %>
     </p>
     <p>
      <a href="http://twitter.com/<%= @user.twitter %>">twitter.com/<%= @user.twitter %></a>
    </p>
  </div>
  <hr>
  <div class="user_card_stats">
    <p>
      <div class="user_location"><%= user_location(@user) %></div>
    </p>
    <p>
      Last seen <strong><%= local_time_ago(@user.last_seen_at || @user.created_at)%></strong>.
    </p>
    <p>
      Joined <strong><%= @user.created_at.to_date.to_s :long %></strong>.
    </p>
    <% if @user.listens_count > 0 %>
    <p>
      <strong><%= pluralize @user.assets_count, 'track' %></strong> uploaded.
    </p>
    <p>
      <strong><%= @user.listens_count %></strong> total listens.
    </p>
    <strong>~<%= @user.bandwidth_used %>GB</strong> transferred.
  </p>
  <% end %>
</div>
<% if authorized? %>
  <div class="user_card_mod_stats">
    <%= link_to edit_user_path(@user), class: "edit_profile #{ admin? ? 'admin' : ''}" do %>
      edit profile
    <% end %>
<% end %>
<% if moderator? %>
  <%= link_to "Delete User", @user, method: :delete, class: "edit_profile--delete admin" %>
  <p>
    Current IP: <strong><%= @user.current_login_ip %></strong><br/>
    <% if @other_users_with_same_ip.present? %>
    Other Users with same IP: <%= @other_users_with_same_ip.collect{|u| link_to u, '/#{u}'}.join(', ').html_safe %>
    <% end %>
  </p>
  <p>
    <%= flag_for(@user.listens.first&.country) %>
  </p>
  <p>
    User Agent: <%= @user.browser %>
  </p>
<% end %>
</div>
</div>
</div>
</div>
