<% if !@single_track && (comment.commentable_type == 'Asset') %>
  <%= render partial: 'assets/asset', locals: { asset: comment.commentable } if comment.commentable %>
<% elsif not @single_track %>
  <h2 class="box comment_header"><%= link_for_comment(comment) %></h2>
<% end %>

<%= div_for comment, class: (cycle('even', 'odd')) do %>

  <div class="comment_user">
    <% if white_theme_enabled? && comment.commenter %>
      <%= link_to(image_tag(avatar_or_placeholder_for(comment.commenter)), user_home_path(comment.commenter))%>
    <% elsif white_theme_enabled? %>
      <%= image_tag(avatar_or_placeholder_for(comment.commenter)) %>
	  <% elsif comment.commenter %>
      <%= user_image_link(comment.commenter, :small) %>
  	<% else %>
  	   <%= image_tag User.dummy_pic(:small)%>
  	<% end %>
    <% if comment.private && !white_theme_enabled? %>
        <div class="private_comment">
        </div>
    <% end %>
	</div>
	
	<div class="comment_right">

		<div class="comment_user_text">
			<%= comment.commenter ? (link_to comment.commenter.name, user_home_path(comment.commenter)) : 'Guest' %>
			<% if logged_in? %>
		<span class="comment_ip">
			(<%= comment.remote_ip %>)
		</span>
		<% end %>
		said <%= local_time_ago(comment.created_at) %>
		</div>

		<div class="comment_body">

		<%= markdown(comment.body) %>

		<% if comment.private && white_theme_enabled? %>
			<div class="private_message">private message</div>
		<% end %>
	
		<% if authorized_for_comment(comment) -%>
			<div class="comment_controls">
					<% if comment.is_spam? %>
						<%= link_to 'un-spam', unspam_comment_path(comment),  data: { confirm: 'This will make the comment public. Are you sure?'}, method: :put %>
					<% else %>
						<%= link_to 'mark as spam', spam_comment_path(comment),  data: {confirm: 'Are you sure you want to mark this as SPAM? This will make it harder for the user who posted this comment to post again'}, method: :put%>
					<% end %>
				<%= link_to 'delete', comment_path(comment), data: {confirm: 'Are you sure you want to delete this comment?'}, method: :delete %>
			</div>
			<% end %>
		</div>

</div>

	<div class="clear">
	</div>
<% end if comment && (!comment.private? || authorized_for_comment(comment))%>