<div class="footer_inner">
  <% if moderator? %>
  <div class="footer_column">
     <h3 class="footer_column_header">users online</h3>
     <ul>
      <li>
        <%= User.currently_online.collect do |user| %>
          <% link_to user.name, main_app.user_home_path(user.login) %>
        <% end.join(', ').html_safe %>
      </li>
     </ul>
  </div>
    <% end %>
  <div class="footer_column">
    <h3 class="footer_column_header">Browse Streamzam</h3>
    <div><%= link_to "All Artists", "/users"%></div>
    <div><%= link_to "Recent Playlists", "/playlists"%></div>
<!--    <div><%#= link_to "Recent Tracks", "/radio/latest"%></div>-->
<!--    <div><%#= link_to "Popular Tracks", "/radio/popular"%></div>-->
    <div><%= link_to "Upload", "/upload"%></div>
    <div><%= link_to "New Playlist/Album", "/new_album"%></div>
  </div>

  <% if logged_in? %>
  <% if moderator? %>
    <div><%= link_to "Secretz", "/secretz" %></div>
    <div><%= link_to "Spam Stats", "https://akismet.com/web/1.0/user-stats.php?blog=streamzam.live&api_key=#{Alonetone.rakismet_key}"%></div>
    <div><%= link_to "Job Status", "/sidekiq" %></div>
      <div><%= link_to "Stats", "/about/stats"%></div>
  <% end %>
    </div>
  <% end %>

  <div class="footer_column">
    <h3 class="footer_column_header">About Streamzam</h3>
    <div><%= link_to "About", "/about"%></div>
    <div><%= link_to "Privacy", "/about/privacy"%></div>
  </div>

</div>