<%= javascript_tag do %>
  window.username = '<%= logged_in? ? current_user.login : "Guest" %>';
  window.userIsAdmin = <%= moderator? ? true : false %>;
  window.userFavorites = <%= (logged_in? ? current_user.favorite_asset_ids : [] ).to_json %>;
  window.showPlayCounts = <%= logged_in? && current_user.settings && (current_user.settings[:display_listen_count] == "true") ? true : false %>;
  window.userPersonalization = '<div class="comment_as">' +
     <% if logged_in? %>
        'comment , <span class="comment_as_user"><%= escape_javascript(current_user.name)%></span>:'+
     <% else %>
        'Comment as a <span class="comment_as_guest">Guest</span> or <%= link_to 'login', login_path, title: 'login to streamzam' %>:'+
     <% end %>
  '</div>';

<% end %>

