<div class="header_search">

  <% if logged_in? %>
    <li id='upload'>
      <%= link_to 'Upload', main_app.new_user_track_path(current_user), title: "upload your music in mp3 format" %>
    </li>
    <% end %>
  <%#= link_to image_tag('icons/retina/search.png'), '#', id: 'search_button' %>
</div>