<div class="faq box">
  <h2 class="box static">
    How do I?...
  </h2>
  <div class="static_content">
    <h3>
      The Basics
    </h3>
    <ul>
      <li>
        <%= link_to "Download a song", action: 'download_a_song' %>
      </li>
      <li>
        <%= link_to "Delete a song", action: 'delete_a_song' %>
      </li>
      <li>
        <%= link_to "Edit a song", action: 'edit_a_song' %>
      </li>
      <li>
        <%= link_to "Change the title of a song", action: 'edit_a_song' %>
      </li>
      <li>
        <%= link_to "Delete my account", action: 'delete_my_account' %>
      </li>
    </ul>
    <h3>
      Advanced
    </h3>
    <ul>
      <li>
        <%= link_to 'How do I get more people listening to my music?', action: 'get_listened_to' %>
      </li>
      <li>
        <%= link_to 'How do I get my music on iTunes?', action: 'itunes' %>
      </li>
      <li>
        <%= link_to 'Change my url (streamzam.live/yourname) or email', action: 'change_my_url' %>
      </li>
    </ul>
    <br/>
    Get more help at the
    <%= link_to "Forums", forums_path, title: 'forums' %>
  </div>
</div>
