Hi!

<%= @name.capitalize %> just uploaded a track to streamzam! <%= @exclamation %>!

Listen to <%= @title %> on streamzam:
<%= @play_link %>

------------------------------

You are getting this email because you decided to follow <%= @name.capitalize %>. You can change your mind by clicking clicking here: <%= @stop_following_link %>

You can also turn off all emails by unsubscribing here: <%= @unsubscribe_link %>.
