You just created an account at streazam.live, a  simple home for your music.

This is your log in information:

  Username: <%= @user.login %>

Click this url to activate your account and start uploading:

  <%= @url %>

For help you can always write us at support@streamzam.live

love,
Hero