 <div id="comment_<%= asset.unique_id %>" class="comment_asset" data-controller="comment">
  <div class="comment_form" data-target="comment.div">
    <%= form_for :comment, url: user_track_comments_path(asset.user, asset), remote: true, 
    id: "comment_form_#{asset.unique_id}", data: { action: 'ajax:beforeSend->comment#spin ajax:success->comment#success ajax:error->comment#error' } do |f| %>
    
    <div class="comment_as" data-target="comment.personalization">
        <!-- will be replaced by js payload to allow caching -->
    </div>
    
    <%= f.text_area :body, rows:4, class: 'double_trouble', data: { target: 'comment.textarea' } , id: "comment_body_#{asset.unique_id}"  %>

    <span class="private hidden" data-target="comment.banner">
      Only <span class="only_user_name"><%= asset.user.name%></span> and <span class="only_alonetone_mods">streamzam admins</span> will see this
    </span>

    <div class="private_check_box">
      <%= f.check_box :private, class: 'private', 
        id: "checkbox_#{asset.unique_id}", data: { target: 'comment.checkbox', action: 'comment#toggle'}  %> 
        <label for="checkbox_<%= asset.unique_id %>"><span class="public">Make Private</span></label>
    </div>
    
    <%= f.hidden_field :commentable_type, value: 'Asset', id: "comment_commentable_type_#{asset.unique_id}"%>
    <%= f.hidden_field :commentable_id, value: asset.id, id: "comment_commentable_type_#{asset.unique_id}"%>

    <div class="submit_wrapper submit_wrapper_comment">
        <div class="comment_waiting" data-target="comment.response"></div>
        <div class="small_spinner" data-target='comment.spinner' style="display:none;"></div>
        <%= f.submit "post comment".html_safe, class: 'comment_submit',id: "submit_#{asset.unique_id}"%> 
      </div>
    <% end %>  
  </div>
  </div>