<div id="home_grid">
  <%= cache("home/playlists/#{@playlists.first.cache_key}/#{theme_name}") do %>
    <div id="home_playlists_area">
      <div class="latest-playlists-header">
        <h2>
        <%= link_to "New playlists".html_safe, all_playlists_path, title: 'view latest playlists' %>
        </h2>
      </div>
      <% if white_theme_enabled? %>
      <ul class="playlists">
        <%= render partial: 'shared/playlist_white', collection: @playlists, as: :playlist %>
      </ul>
      <% else %>
      <ul class="playlists_row">
        <%= render partial: 'playlists/row', collection: @playlists, as: :playlist %>
      </ul>
      <% end %>
    </div>
  <% end unless @playlists.blank? %>

  <div id="home_left_column">
  
    <div id="home_latest_area">
      <div class="box">
        <%= link_to radio_path(per_page: 40, source: 'latest'), class: 'view_all', title: 'latest music on alonetone' do %>
          <span>view all &nbsp;
            <i class="icon_caret">
              <%= render file: svg_path('svg/icon_caret.svg') %>
            </i>
          </span>
        <% end %>
        <h2>
          <%= link_to radio_path(per_page: 40, source: 'latest'), title: 'latest music on alonetone' do %>
          New Music
          <% end %>
        </h2>
        <%= render partial: 'assets/asset', collection: @assets %>
      </div>
    </div>

    <div id="home_comments_area">
      <div class="box">
        <%= link_to all_comments_path, class: 'view_all', title: 'view latest comments' do %>
        <span>view all &nbsp;
          <i class="icon_caret">
            <%= render file: svg_path('svg/icon_caret.svg') %>
          </i>
        </span>

        <% end %>
        <h2>
          <%= link_to all_comments_path, title: 'view latest comments' do %>
          Latest Comments
          <% end %>
        </h2>
        <%= render partial: 'shared/comment', collection: @comments %>
      </div>
    </div>

  </div>
  
  <div id="home_right_column">
    
    <div id="home_popular_area">
      <div class="box">
      <%= link_to radio_path(:per_page => 40,:source => 'popular'), :class => "view_all", :title => 'alonetone radio: currently kicking ass' do %>
      <span>view all &nbsp;
        <i class="icon_caret">
          <%= render file: svg_path('svg/icon_caret.svg') %>
        </i>
      </span>

      <% end %>
      <h2>
        <%= link_to radio_path(per_page: 40,source: 'popular'), title: 'alonetone radio: currently kicking ass' do %>
        Hot Songs
        <% end %>
      </h2>
      <%= render partial: 'assets/asset', collection: @popular %>
      </div>
    </div>

    <div id="home_favorites_area">
        <div class="box">
          <%= link_to radio_path(:per_page => 40, :source => 'favorites'), :class => 'view_all', :title => 'alonetone radio: recently favorited' do %>
          <span>view all &nbsp;
            <i class="icon_caret">
              <%= render file: svg_path('svg/icon_caret.svg') %>
            </i>
          </span>

          <% end %>
          <h2>
            <%= link_to radio_path(per_page: 40, source: 'favorites'), title: 'alonetone radio: recently favorited' do %>
            Recently Popular
            <% end %>
          </h2>
          <% @favorites.each do |favorite| %>
          <div class="asset favorite" data-controller="normal-playback">
            <%= render partial: 'assets/asset_white', locals: { asset: favorite.asset, favorite: favorite } %>
          </div>
          <% end %>
        </div>
    </div>


    <% if @followee_tracks %>
      <div id="home_follows_area">
        <div class="box">
          <%= link_to radio_path(:per_page => 40, :source => 'those_you_follow'), :class => 'view_all', :title => 'alonetone radio: those you follow' do %>
          <span>view all &nbsp;
            <i class="icon_caret">
              <%= render file: svg_path('svg/icon_caret.svg') %>
            </i>
          </span>

            <% end %>
          <h2>
            <%= link_to radio_path(per_page: 40, source: 'those_you_follow'), title: 'alonetone radio: those you follow' do %>
            Tracks from those you follow
            <% end %>
          </h2>
          <div>
            <%= render partial: 'assets/asset', collection: @followee_tracks %>
          </div>
        </div>
      </div>
    <% end %>
    
  </div>
</div>


