<h1 id="radio_title">streamzam: <span id="channel_name" class="channel"><%= @channel %></span></h1>
<% content_for :left do %>
  <div class="mini_paginator">
    <%= will_paginate @assets %>
  </div>
    <div id="radio_tracks" class="box">
        <%= render partial: 'assets/asset', collection: @assets  %>
    </div>
    <div class="mini_paginator">
      <%= will_paginate @assets %>
    </div>
<% end %>
<% content_for :right do %>

<% end %>
