// .playlist-options is for the cover view, which isn't technically the post
// ok!
// yep
// who wrote these comments?
// get it together

body.cover-view .playlist-sidebar {
	border-radius: 6px 0 0 6px;
}

.track-content {
  &.track-content-cover-view {
    margin-left: -$baseline!important;
    .large-cover-and-credits {
      @include samo-shadow-and-radius();
      border-radius: 0 6px 6px 0;
      overflow: auto;
      @media only screen and (max-width: 850px) {
        border-radius: 6px 6px 0 0;
      }
    }
    .playlist-credits {
      font-size: 13px;
      line-height: 18px;
      padding: $baseline/2;
      box-sizing: border-box;
      color: rgb(153, 153, 153);
      text-align: left;
      border-radius: 0;
      box-shadow: none;
      max-width: 700px;
      background-color: transparent;
      position: absolute;
      @media only screen and (max-width: 850px) {
        position: static;
      }

    }

  }
  min-width: 400px;
  @media #{$tablet} {
    min-width: auto;
  }
  .large-cover {
    width: 100%;
    max-width: 800px;
    height: 0;
    padding-bottom: 99%;
    overflow-y: hidden;
    svg {
      display: block;
      @media #{$mobile} {
				border-radius: 0 0 0 0;
			}
    }
    img {
      display: block;
      width:100%;
    }
  }
  img {
    max-width: 100%;
    display: block;
  }
  .playlist-cover-alert {
    font-size:14px;
    line-height: 1.5em;
    padding:5px 40px;
    border: 3px dashed $red;
    a {
      text-decoration: underline;
    }
  }
  .playlist-options {
    width: 100%;
    height: 50px;
    background-color: $not-quite-black;
    font-family: $sans-font;
    border-radius: 0px;
    ul {
      &.downloads-links {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
      }
      &.external-links {
        float: right;
        margin-top: 0;
        margin-bottom: 0;
        li {
          border-right: 0;
          border-left: 1px solid #000000;
        }
      }
      li {
        display: block;
        float: left;
        height: 50px;
        border-right: 1px solid #000000;
        background-color: $not-quite-black;
        &:hover {
          background-color: #000000;
        }
        a {
          font-size: 12px;
          font-weight: 300;
          display: block;
          width: auto;
          margin-top: 0;
          margin-right: 5px;
          margin-bottom: 0;
          padding: 5px 12px 5px 40px;
          padding-top: 12px;
          padding-bottom: 0;
          text-decoration: none;
          color: $not-quite-white-opaque;
          background-image: image-url('svg/spotify.svg');
          background-size: 25px 25px;
          background-repeat: no-repeat;
          background-position: 10px 10px;
          &.spotify {
            background-image: image-url('svg/spotify.svg');
          }
          &.itunes {
            background-image: image-url('svg/itunes.svg');
            padding-left:px;
          }
          &.apple {
            background-image: image-url('svg/apple_music.svg');
          }
          .action-text {
            text-align: left;
            font-size: 10px;
            display: block;
            color: $gray;
          }
        }
      }
    }
  }
}

