/* UPLOADING */

#uploader {
  form {
    .filefields {
      li {
        list-style: none;
        margin-bottom: $baseline / 4;
      }
    }
  }
  .uploading {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 100px;
    text-align: center;
  }
}

/* MASS EDIT */

.mass_edit_content {
  @include match-dynamic-site-width('narrow');
  position: relative;
  div.track_options {
    a.delete_green {
      position: absolute;
      float: none;
      right: $baseline;
      z-index: 1;
      margin-top: 9px;
    }
  }
  > div.box {
    > .static_content {
      padding: $baseline / 2 $baseline;
      box-sizing: border-box;
    }
    h2.box {
      margin-left: $baseline;
      margin-right: $baseline;
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      box-shadow: none;
      border-radius: 0;
      box-sizing: border-box;
    }
    form {
      padding: $baseline / 2 $baseline;
      box-sizing: border-box;
      input#asset_title {
        font-family: "Alright Sans", sans-serif;
        font-weight: bold;
        box-sizing: border-box;
        width: 100%;
        max-width: 500px;
        padding: 10px;
        font-size: 27px;
        line-height: 27px;
      }
      textarea {
        font-family: "Harriet Text", serif;
        font-size: 18px;
        position: relative;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        max-width: 500px;
        height: 300px;
        margin-top: 27px;
        margin-bottom: 27px;
        padding: 13.5px;
        word-wrap: break-word;
        color: #353535;
        border: 1px solid #c7c6c3;
        border-radius: 4px;
        -webkit-box-shadow: 0 3px 4px -2px #65666627;
        box-shadow: 0 3px 4px -2px #65666627;
      }
    }
    
  }
}

/* LOG IN / SIGN UP */

#what-you-get {
  h2 {
    font-size: 14px;
    margin-bottom: 30px;
    text-shadow: none;
    text-align: center;
    padding: 0;
  }
  img {
    align-self: center;
  }
  box-shadow: none;
  margin-bottom: 0;
}

#login, #signup {
  input.btn {
    cursor: pointer;
    @include default-button();
  }
  .hint {
    font-style: italic;
    margin-top: $baseline / 4;
    margin-bottom: $baseline / 4;
  }
}

#login {
  input.btn {
    margin-top: $baseline / 2;
    margin-bottom: $baseline;
  }
}

body main #columns  {

  #login.box, #signup.box, #signup-questions.box {
    margin-bottom: 0;
    box-shadow: none;
    label {
      margin-bottom: 2px!important;
    }
    padding-top: $baseline / 2;
    padding-bottom: $baseline / 2;

  }

}
/* ABOUT PAGES */

.about-page, .stats-page {
  .faq.box {
    padding-left: 0;
    padding-right: 0;
    h2.box {
      padding-left: $baseline / 2;
    }
    .static_content {
      padding-left: $baseline / 2;
      padding-right: $baseline / 2;
      margin: $baseline / 2 0;
    }
  }
}

.faq.box {
  margin-left: auto;
  margin-right: auto;
  @include match-dynamic-site-width('narrow');
  @media #{$mobile} {
    width: 90%;
  }
  padding: $baseline / 2 $baseline;
  box-sizing: border-box;
  margin-bottom: 26px;

  h2.box {
    margin-top: 0;
    box-shadow: none;
    padding-left: 0;
    border-radius: 0;
    line-height: 20px;
    height: auto;
    padding-bottom: 12px;
  }
  .static_content {
    margin: $baseline 0;
    line-height: 1.3em;
  }
}

.box {
  .static_content {
    line-height: 1.3em;
  }
}

#fineprint.box {
  .static_content {
    padding-top: $baseline / 2;
    padding-bottom: $baseline / 2;
  }
}

/* RADIO */

#radio_title + #columns {
  flex-wrap: wrap-reverse;
}

body main #columns {
	#radio_options {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    background-color: transparent;
    justify-content: space-between;
    border-radius: 0;
    box-shadow: none;
		#radio_controls {
			padding: 0;
			ul {
				li.radio_channel {
					font-size: 15px;
					line-height: 45px;
					display: block;
					box-sizing: border-box;
					width: 100%;
					height: 40px;
					padding-left: 15px;
					cursor: pointer;
					border-bottom: 1px solid $light-gray;
					background-color: $white;
					&.disabled {
						color: $disabled;
					}
					input {
						margin-right: 20px;
					}
				}
			}
		}
	}
}

/* PROGRESS INDICATOR (COMMENT POSTING) */

div.small_spinner {
  display: none;
  background: image-url('svg/icon_spinner.svg') no-repeat center center;
  height: 20px;
  width: 20px;
  background-size: 100%;
}

/* REPORT A USER */

.user_report .comment_user {
  .title {
    span.box_title {
      font-size: 16px;
      line-height: 30px;
      padding-top: 8px;
      a {
        font-weight: 16px;
      }
    }
  }
}

/* SUDO BAR */

.sudo_bar {
  font-size: 12px;
  line-height: 25px;
  height: 25px;
  padding-left: 55px;
  text-align: left;
  color: #FFFFFF;
  background-color: red;
  a {
    text-decoration: underline;
    color: white;
  }
}

/* PRESS LOGOS */

div.logo {
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  float: left;
  width: 133px;
  margin-top: 43px;
  text-align: center;
  a,
  a:visited {
    font-size: 11px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}


/* SECRETS */

 h2.stats {
   margin-top: 1.5em;
   margin-bottom: .5em;
   text-indent: 45px;
 }
 
 #total_playsDiv {
   width: 800px;
   margin: auto;
   text-align: left;
   background-color: $silver;
 }
 
 .static_content#stats,
 .static_content.stats {
   width: 800px;
   margin: 0 auto;
   padding: 0;
 }
 
 .secretz {
   margin: 0;
   padding: 0;
 }
 h2.table {
   margin-bottom: .3em;
   padding-top: 2em;
 }
 #statstable,
 .statstable {
   width: 100%;
   thead tr {
     height: 25px;
     border-bottom: 3px solid #37392B;
     th {
       font-size: 12px;
       font-weight: bold;
       line-height: 25px;
       padding-right: 10px;
       padding-left: 15px;
       text-align: left;
       background: #C7C8C7;
       &.headerSortDown {
         background: #C7C8C7 image-url('icons/small_sort_down.png') no-repeat 3px 8px;
       }
       &.headerSortUp {
         background: #C7C8C7 image-url('icons/small_sort_up.png') no-repeat 3px 8px;
       }
     }
   }
   tbody {
     overflow-y: scroll;
     height: 350px;
   }
   tr {
     width: 100%;
   }
   tr td {
     font-size: 12px;
     line-height: 20px;
     height: 20px;
     padding-left: 15px;
     background-color: $box-background-color;
     &.uploader {
       min-width: 200px;
     }
     a,
     a:hover,
     a:visited {
       font-size: 12px;
       line-height: 20px;
     }
     img {
       width: 25px;
     }
   }
   tr:nth-child(odd) td {
     background-color: $box_background_even;
   }
 }
 
 .highlight {
   background-color: yellow;
 }
 
 .static_content.big_stats {
   font-size: 14px;
   line-height: 1.5em;
   strong {
     font-size: 18px;
   }
 }



//  UPLOADING

dl.group {
  dd {
    margin-left: 0;
  }
}


/* LISTENERS */

// #follows, #mostly_listens_to, #recent_listeners {
// 	width: 420px;
// 	margin: 0;
// 	padding: 0;
// 	background: none;
// 	div {
// 		float: left;
// 		margin: 0;
// 		padding: 0;
// 		&.edge_to_edge_large {
// 			width: 105px;
// 			height: 105px;
// 			img {
// 				width: 105px;
// 				height: 105px;
// 			}
// 		}
// 		&.edge_to_edge_small {
// 			width: 70px;
// 			height: 70px;
// 			img {
// 				width: 70px;
// 				height: 70px;
// 			}
// 		}
// 		&.edge_to_edge_tiny {
// 			width: 42px;
// 			height: 42px;
// 			img {
// 				width: 42px;
// 				height: 42px;
// 			}
// 		}
// 	}
// }
