.notice, .errorExplanation {
	margin-bottom: 20px;
	padding: 20px 30px;
	background-color: #FFF;

	@include match-dynamic-site-width('wide');
}

.errorExplanation p, .notice h2 {
	font-size: 20px;
	font-weight: bold;
}

.notice {
  a.hide_notice {
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-top: -31px;
    margin-right: 0;
    color: $orange;
  }
  li {
    margin-bottom: 5px;
  }
  ol {
    margin-top: 8px!important;
  }
}

.flash {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2em;
	position: relative;
	z-index: 101;
	padding: 15px 0;
	text-align: center;
	color: $white;
	background-color: $orange_background;
	@media #{$mobile} {
		padding: $baseline / 2;
		font-size: 14px;
		text-align: left;
	}
	.flash_stats {
		font-size: 14px;
		a {
			text-decoration: underline;
		}
  }
  a {
    text-decoration: underline;
  }
}