<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#222">
  <title><%= @page_title || 'streamzam' %></title>
  <%= yield :head %>
  <%= stylesheet_link_tag ('white_theme') %>
  <%= javascript_pack_tag "application", 'data-turbolinks-track': 'reload', defer: true  %>

  <meta content="index,follow" name="robots"/>
  <% if @asset&.persisted? or @playlist&.persisted? %>
    <meta property="og:type"        content="music.<%= @playlist ? 'album' : 'song' %>" />
    <meta property="og:title"       content="<%= @playlist.try(:title) || @asset.title %>" />
    <meta property="og:description" content="<%= @playlist ? 'n album' : ' song'  %> by <%= @user.display_name %>" />
    <meta property="og:image"       content="<%= @playlist.cover(:greenfield) if @playlist %>" />
  <% end %>

  <%= csrf_meta_tag %>
  <!-- render user specific variables and js helpers -->
  <%= render partial: 'shared/javascript_payload' %>
</head>

<body class="<%= yield :body_class %>">

  <% if @sudo %>
  <div class="sudo_bar">
    Sudo'd as <%= current_user.name %>. <%= link_to 'Return to admin.', sudo_user_path(@sudo) %></span>
  </div>
  <% end %>

  <%= check_for_and_display_welcome_back %>
  <%= check_for_and_display_flashes %>

  <header id="site_header" >
    <%= render partial: 'shared/header' %>
    <%= render partial: 'shared/search' %>
  </header>

  <main>
    <%= yield %>
    <%= yield :static %>
    <div id="columns">
      <div id="left">
        <%= yield :left %>
      </div>

      <div id="right">
        <%= yield :right %>
      </div>
      <%= yield :bottom %>
    </div>
  </main>

  <footer id="site_footer" data-turbolinks-permanent>
    <%= cache("footer/#{theme_name}/#{moderator?}", expires_in: 3.minutes) do %>
    <%= render partial: 'shared/footer_white' %>
    <% end %>
  </footer>

  <div id='play-svg-container' style='display:none' data-turbolinks-permanent>
   <svg id="playAnimationSVG"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
        <defs>
            <mask id="iconMask">
                <circle class="dotty" cx="300" cy="300" r="245" fill="#FFF" stroke="none" stroke-miterlimit="10" stroke-width="105" />
                <circle class="dotty" cx="300" cy="300" r="245" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="105" stroke-dasharray="167.94 51.98" />
                <g class="spinballGroup">
                    <circle class="spinball" cx="221" cy="300" r="55" fill="#000" stroke="none" stroke-miterlimit="10" stroke-width="0" />
                    <circle class="spinball" cx="379" cy="300" r="55" fill="#000" stroke="none" stroke-miterlimit="10" stroke-width="0" />
                </g>
            </mask>
        </defs>
        <g>
            <circle class="outline" cx="300" cy="300" r="245" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0" />
            <g class="iconGroup" mask="url(#iconMask)">
                <path class="icon" d="M187,489.21l-.31-378.41a.77.77,0,0,1,1.15-.67l150.53,86.75L515.71,299.08a.76.76,0,0,1,0,1.31L188.14,489.87A.76.76,0,0,1,187,489.21Z" />
            </g>
            <g id="pauseGroup" class="pauseGroup">
                <line x1="235" y1="96" x2="235" y2="500" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="64" />
                <line x1="365" y1="96" x2="365" y2="500" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="64" />
            </g>
        </g>
    </svg>
  </div>
  <%= render partial: 'layouts/greenfield/ga' %>
</body>
</html>
